@font-face {
  src: url('./fonts/StaffMeetingPlain.ttf');
  font-family: staffmeeting;
}

body {
  margin: 0;
  font-family: staffmeeting;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  border-bottom: 2px solid #161616;
}

.header-container img {
  height: 80px;
  width: auto;
}

/* h2 {
  justify-content: center;
} */

span::before {
  content: 'Bears';
  animation: animate infinite 3s;
  padding-left: 10px;
}

@keyframes animate {
  25% {
    content: 'Beats';
  }

  75% {
    content: 'Battlestar galactica';
  }
}

.animation-container {
  display: block;
  width: 50%;
  margin-left: 50px;
}
